.shipping-header > ul {
  display: flex;
  width: 600px;
  justify-content: space-between;
  padding: 50px 0;
  list-style-type: none;
  color: #BFBFBF;
  font-size: 85%;
  text-transform: uppercase;
}

.shipping-container {
  h2 {
    font-size: 200%;
    padding: 30px 0;
    font-weight: 900;
  }
  > p {
    text-transform: uppercase;
    color: #666666;
    padding: 10px 0;
    font-size: 90%;
  }
}

.shipping-details {
  display: flex;
  justify-content: space-between;
  form {
    margin-right: 60px;
    flex: 7;

    input {
      width: 100%;
      padding: 20px 0;
      font-size: 100%;
    }

    .twoColumns {
      // width: 704px;
      display: flex;
      justify-content: space-between;

      input {
        width: 45%;
      }
    }
  }


}

.summary {
  flex: 3;
}
