<div class="homepage">
  <section class="hero">
    <a>
      <div class="hero-text">
        <h3>Try the shaving company
        <br>that's fixing shaving.</h3>
        <p>Start a free trial, just cover shipping.</p>
        <start-trial-dir></start-trial-dir>
      </div>
    </a>
  </section>

  <section class="featured-products">
    <div class="featured-text">
      <h4>Featured Products</h4>
      <p>Products designed and formulated for a quality shave.</p>
    </div>
    <div class="feature-info">
      <div class="tile">
        <a>
          <div class="item-image">
            <img src="./images/home/94849e8c3594aede6ac5383e90c1bba37ac2a8d3.jpg" alt="item-image">
          </div>
          <div class="item-text">
            <span>$15</span>
            <span>  |  </span>
            <span> Truman Set </span>
          </div>
          <color-circle-dir></color-circle-dir>
          <p>most popular</p>
        </a>
      </div>
      <div class="tile">
        <a>
          <div class="item-image">
            <img src="./images/home/e0a7a78118eca9ff10d8a4b683ac39ff429d5b7a.jpg" alt="item-image">
          </div>
          <div class="item-text">
            <span>$25</span>
            <span>  |  </span>
            <span> Winston Set </span>
          </div>
          <p>engravable</p>
        </a>
      </div>
      <div class="tile">
        <a>
          <div class="item-image">
            <img src="./images/home/598c604085810cbdda46813db38ed1ba69567a8e.jpg" alt="item-image">
          </div>
          <div class="item-text">
            <span>$2 or less </span>
            <span>  |  </span>
            <span> Harry's Blades </span>
          </div>
        </a>
      </div>
    </div>
  </section>
  <section class="second-hero">
    <a>
      <div class="second-hero-text">
        <h4>Looking to save
        <br>even more?
        <br>Check out our
        <br>Shave Plans.</h4>
        <p>Try For Free</p>
      </div>
    </a>
    <a>
      <div class="second-hero-text">
        <h4>Looking to save
        <br>even more?
        <br>Check out our
        <br>Shave Plans.</h4>
        <p>Try For Free</p>
      </div>
    </a>
  </section>
  <section class="more-from-harry">
    <div class="more-text">
      <h2>More from Harry's</h2>
      <p>We do more than make razors, you know. </p>
    </div>
    <div class="more-info">
      <a>
        <div>
          <img src="./images/home/1bf09a3c7dc7952c802b89c93b827afa060f4e6d.jpg" alt="item-image">
        </div>
        <div>
          <h5>Five O' Clock Magazine</h5>
          <p>Undiscovered moments, advice, and generally
          <br>useful information for a well-lived life.</p>
        </div>
      </a>
      <a>
        <div>
          <img src="./images/home/30be6d39888bcf619a22dfa9f9fe4083eb746add.jpg" alt="item-image">
        </div>
        <div>
          <h5>Harry's Corner Shop</h5>
          <p>Our first barber shop and retail store is open
          <br>in New York City. Come have a look around.</p>
        </div>
      </a>
      <a>
        <div>
          <img src="./images/home/542c56c611385f0762038b75704eef5fdbb5868c.jpg" alt="item-image">
        </div>
        <div>
          <h5>Five O' Clock Magazine</h5>
          <p>Your shave is going to get even better.
          <br>See our German blade factory.</p>
        </div>
      </a>
    </div>
  </section>
</div>
