@media screen and (max-width: 1400px) {
  .made-factory-container {
    background: url("https://s3.amazonaws.com/harrypics/products/products/c45edac66ccad6bbd9551bf07cc626b58961b35f.jpg") no-repeat 600px;
    background-size: contain;
    background-color: #C4CDD0;
  }
}

@media screen and (max-width: 1100px) {
  .infoLess1100 {
    display: none;
  }

  .info1100px {
    display: flex;
    justify-content: center;
    width: auto;
    padding: 50px 0;

    > div {
      width: 300px;
      padding: 0 10px;
    }
  }

  .product-info .big-pics {
    flex: 11;
  }


}

@media screen and (max-width: 960px) {
  .cart-title > ul {

    font-size: 70%;


    li {
      flex: 3;
    }
  }

  .cart-detail {
    div > ul {
      font-size: 70%;
      li {
        flex: 3;
      }
      li:first-child {
        flex: 2;
      }
      li:nth-child(2) {
        flex: 4;
      }
    }
  }

  .learn-more {
    display: none;
  }

  .second-hero-text {
    padding: 100px 200px 100px 50px;
    width: 220px;
    font-size: 80%;
    height: 120px;
  }

  .works-card {
    padding: 50px 30px;
  }

  .quality-container {
    padding-left: 60%;
    width: 300px;

    h2 {
      font-size: 150%;
    }
  }

  .descriptions {
    display:block;

    div {
      margin: auto;
      padding-bottom: 50px;
    }
  }

  .different > ul {
    width: auto;
    li:first-child {
      display: none;
    }
  }

  .product-feature .feature {
    .feature-text {
      position: static;
      width: 540px;
      text-align: center;
      margin: auto;
      padding: 50px 0;
    }

    .feature-img > img {
      min-height: 0;
    }
  }
}


@media screen and (max-width: 880px) {
  .nav-left, .nav-right {
    display: none;
  }
  .hero > a .hero-text {
    padding: 115px 0 115px 50%;
  }
}
@media screen and (min-width: 881px) {
  .ham {
    display: none;
  }
}

@media screen and (max-width: 780px) {
  .shaveplan-main {
    background: url("https://s3.amazonaws.com/harrypics/products/products/trial-hero-large-gen2.jpg") no-repeat -80px 270px;
    background-size: 200%;
    background-color: rgb(239, 239, 239);
    padding: 50px 0 100% 0;
  }

  // .descriptions {
  //   margin: 0 80px;
  // }

  .card-container {
    display: block;
  }

  .works-card {
    width: 80%;
    padding: 50px 20px;
    margin: 20px auto;
  }

  .engineer {
    background: url("https://s3.amazonaws.com/harrypics/products/products/78ef8c660810dd189d07303861e0927f9c734caf.jpg") no-repeat center top;
    background-size: 200%;
    padding: 90% 0 0 0;
  }

  .quality-container {
    background: url("https://s3.amazonaws.com/harrypics/products/products/67fdc9d95116cfcc35c341114d8deeb374f13b64.jpg") no-repeat center -100px;
    background-size: contain;
    padding: 80% 0 0 0;
    width: auto;

    h2 {
      margin-left: 50px;
    }
    p {
      margin-left: 50px;
    }
  }

  .made-factory-container {
    background: url("https://s3.amazonaws.com/harrypics/products/products/c45edac66ccad6bbd9551bf07cc626b58961b35f.jpg") no-repeat center top;
    background-size: contain;
    background-color: #C4CDD0;
    padding: 90% 0 0 0;
  }
  .second-hero {
    display: block;

    .second-hero-text {
      width: 50%;
      padding-left: 50px;
      padding-right: calc(50% - 50px);
      height: 160px;
    }
  }
  .text1 {
    display: block;
    background: url("https://s3.amazonaws.com/harrypics/products/products/7e342edf020297cb1a15d3b4823a9ac83d25b1a3.jpg") no-repeat center center;
    background-size: cover;
  }
  .text2 {
    display: block;
    background: url("https://s3.amazonaws.com/harrypics/products/products/08bdd2e97f4b4cf081fa8a41be1cec9dfdcf3b7e.jpg") no-repeat center center;
    background-size: cover;
  }
  .product-info {
    display: flex;
    flex-direction: column;

  }

  .info1100px {
    display: block;

    > div {
      width: auto;
      margin: 0 50px;
    }
  }


  .cart-header {
    h2 {
      font-size: 120%;
    }

    > div {
      display: none;
    }
  }

  .cart-title {
    display: none;
  }

  .cart-detail .cart-product {
    height: 200px;

    > ul {
      display: none;
    }

    .product-img-url > img {
      width: 130px;
      height: 130px;
    }
    > div {
      padding: 20px 0;
      display: flex;
      border-bottom: 0.8px solid #BFBFBF;

      ul {
        padding: 0;
        margin-left: 50px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        border: none;
      }

      ul > li {
        padding: 0;
        flex: 1;
      }
    }
  }

  .footer {
    flex-direction: column;

    > div {
      width: 260px;
      text-align: center;
      padding: 0;
      margin: 15px auto;

      .social {
        justify-content: space-around;
        margin: 0 40px;
      }
    }
  }

  .products-info {
    flex-direction: column;
    align-items: center;

    .sets {
      width: 80%;
    }
  }

  .product-container .product-info {
    height: 500px;
    padding-bottom: 50px;
    // display: block;
    // position: relative;
    flex-direction: column;

    .small-pics {
      display: flex;
      justify-content: center;
      order: 2;
      margin: 0;
      // position: absolute;
      // bottom: 20px;
      // left: calc(50% - 100px);
    }

     .small-pic-container {
      margin: 0 5px;
    }
  }
}


@media screen and (max-width: 560px) {
  .product-feature .feature .feature-text {
    width: 300px;
  }

  .product-container .product-info {
    height: 400px;
  }

  .product-details {
    display: block;
  }

   .quantity-selector > span, .color-selector {
    font-size: 80%;
  }

  .product-info .small-pics .small-pic-container {
    margin: 0 1px;
  }

  .product-info .big-pics > img {
    height: 85%;
  }

  .gel-or-cream-text {
    width: 200px;
  }

  .shaveplan-main > p {
    width: 280px;
  }

  .quality-container {
    h2, p {
      margin: auto;
    }
  }

  .descriptions {
    margin: -110px 20px 0 20px;
    padding: 30px;
  }

  .made-factory-container {
    h2, p {
      margin: auto;
      width: 280px;
    }
  }

  .works-card > img {
    width: 90%;
  }

  .cart-container {
    margin: 0 20px;
  }
  .cart-detail .cart-product > div ul {
    margin-left: 20px;
  }
}
