<section class="starter">
  <div class="products-text">
    <h5>Starter Sets</h5>
    <p>All you need to get shaving with Harry’s – in one tidy box.</p>
  </div>
  <div class="starter-info products-info">
    <div>
      <a>
        <div class="item-image">
          <img src="images/products/94849e8c3594aede6ac5383e90c1bba37ac2a8d3.jpg" alt="item-image">
        </div>
        <div class="item-info">
          <span>$15</span>
          <span>  |  </span>
          <span> Truman Set </span>
        </div>
        <color-circle-dir></color-circle-dir>
        <span>most popular</span>
      </a>
    </div>
    <div>
      <a>
        <div class="item-image">
          <img src="images/products/e0a7a78118eca9ff10d8a4b683ac39ff429d5b7a.jpg" alt="item-image">
        </div>
        <div class="item-info">
          <span>$25</span>
          <span>  |  </span>
          <span> Winston Set </span>
        </div>
        <span>engravable</span>
      </a>
    </div>

  </div>
</section>

<section class="blades">
  <div class="products-text">
    <h5>Blades & Refill Packs</h5>
    <p>Get more shaving essentials.</p>
  </div>
  <div class="products-info">
    <div>
      <a>

      </a>
    </div>
  </div>
</section>
