<section class="starter">
  <div class="products-text">
    <h5>Starter Sets</h5>
    <p>All you need to get shaving with Harry’s – in one tidy box.</p>
  </div>
  <div class="starter-info products-info">
    <div ng-repeat="product in sets">
      <a>
        <div class="item-image">
          <a  ui-sref="product({id: product.id})"><img ng-src="{{product.default_img}}" alt="item-image" ng-if="product.showcolor == 'default'"></a>
          <img ng-src="{{product.blue_img}}" alt="item-image" ng-if="product.showcolor == 'blue'">
          <img ng-src="{{product.green_img}}" alt="item-image" ng-if="product.showcolor == 'green'">
        </div>
        <div class="item-info">
          <span>${{product.price}}</span>
          <span>  |  </span>
          <span> {{product.name}} </span>
        </div>
        <color-circle-dir ng-show="product.color"></color-circle-dir>
        <span ng-show="product.tag_text">{{product.tag_text}}</span>
      </a>
    </div>
  </div>
</section>

<section class="blades">
  <div class="products-text">
    <h5>Blades & Refill Packs</h5>
    <p>Get more shaving essentials.</p>
  </div>
  <div class="products-info">
    <div ng-repeat="product in bladesAndPacks">
      <a>
        <div class="item-image">
          <img ng-src="{{product.default_img}}" alt="item-image" ng-if="product.showcolor == 'default'">
          <img ng-src="{{product.blue_img}}" alt="item-image" ng-if="product.showcolor == 'blue'">
          <img ng-src="{{product.green_img}}" alt="item-image" ng-if="product.showcolor == 'green'">
        </div>
        <div class="item-info">
          <span>${{product.price}}</span>
          <span>  |  </span>
          <span> {{product.name}} </span>
        </div>
        <color-circle-dir ng-show="product.color"></color-circle-dir>
        <span ng-show="product.tag_text">{{product.tag_text}}</span>
      </a>
    </div>
  </div>
</section>

<section class="supplies">
  <div class="products-text">
    <h5>Grooming supplies</h5>
    <p>Products designed to help you make your morning easier.</p>
  </div>
  <div class="products-info">
    <div ng-repeat="product in supplies">
      <a>
        <div class="item-image">
          <img ng-src="{{product.default_img}}" alt="item-image" ng-if="product.showcolor == 'default'">
          <img ng-src="{{product.blue_img}}" alt="item-image" ng-if="product.showcolor == 'blue'">
          <img ng-src="{{product.green_img}}" alt="item-image" ng-if="product.showcolor == 'green'">
        </div>
        <div class="item-info">
          <span>${{product.price}}</span>
          <span>  |  </span>
          <span> {{product.name}} </span>
        </div>
        <color-circle-dir ng-show="product.color"></color-circle-dir>
        <span ng-show="product.tag_text">{{product.tag_text}}</span>
      </a>
    </div>
  </div>
</section>
