<div class="product-container">
  <section class="product-info">
    <div class="small-pics">
      <div class="small-pic-container" ng-repeat="smallPic in smallPics | filter: {showcolor : product.showcolor, gelorcream: product.gelorcream, pack_size: product.pack_size}">
        <img ng-src="{{smallPic.img_url}}" alt="smallPic" ng-click="product.index = smallPic.index">
      </div>
    </div>
    <div class="big-pics" ng-repeat="largePic in largePics | filter: product">
      <img ng-src="{{largePic.img_url}}" alt="largePics">
    </div>
    <div class="info">
      <h3>{{data.name}}</h3>
      <h3>${{data.price}}</h3>
      <ul>
        <li><p>Free U.S. Shipping for orders over $10</p></li>
        <li><p>Available in U.S.</p></li>
      </ul>
      <gel-or-cream-dir></gel-or-cream-dir>
      <div class="color-selector">
        <div class="color-text">
          <p>color</p>
          <p></p>
        </div>
        <color-circle-dir></color-circle-dir>
      </div>
      <size-dir></size-dir>
      <quantity-dir quantity="quantity" add-quantity="addQuantity()" minus-quantity="minusQuantity()"></quantity-dir>
      <add-to-cart-dir></add-to-cart-dir>
    </div>
  </section>
  <section class="product-feature">
    <div class="feature" ng-repeat="feature in features">
      <div class="feature-img">
        <img ng-src="{{feature.img_url}}" alt="img_url">
      </div>
      <div class="feature-text">
        <h3>{{feature.title}}</h3>
        <p>{{feature.text}}</p>
      </div>
    </div>
  </section>
  <section class="product-details">
    <div class="product-desc">
      <p>description</p>
      <p>{{data.description}}</p>
    </div>
    <div class="product-shipping">
      <p>shipping</p>
      <p>Orders over $10 ship free in the U.S. Expedited shipping options available at checkout.</p>
    </div>
  </section>
</div>
