<div class="product-container">
  <section class="product-info">
    <div class="small-pics">
      <div class="small-pic-container" ng-repeat="smallPic in smallPics">
        <img src="{{smallPic.img_url}}" alt="smallPic">
      </div>
    </div>
    <div class="big-pic" ng-repeat="largePic in largePics">
      <img src="{{largePic.img_url}}" alt="largePics">
    </div>
    <div class="info"></div>
  </section>
  <section class="product-feature">

  </section>
</div>
dfljslfjasdlk;fjsadlfjsaklfjasdkl

{{data.id}}
{{data.name}}
