.footer {
  background: #E6E6E6;
  display: flex;
  color: #7F7F7F;
  font-size: 80%;
  letter-spacing: 0;
  div {
    padding: 50px 0;
    margin-left: 50px;
    p {
      line-height: 2em;
      font-size: 85%;
    }

    ul {
      display: flex;
      list-style-type: none;
      padding-top: 30px;
      li {
        width: 100px;
        a {
          text-decoration: none;
          font-size: 85%;
        }
      }
    }
    ul.social {
      display: flex;
      list-style-type: none;
      padding-top: 30px;

      li {
        width: 20px;
        a {
          text-decoration: none;
          font-size: 120%;
        }
      }
    }
  }
}

.reserved {
  flex: 6;
}

.contact {
  flex: 3;
}

.hiring {
  flex: 3;
}

.learn-more {
  img {
    width: 20px;
    height: 33px;
  }
  a {
    font-size: 100%;
  }
  p {
    font-size: 100%;
    letter-spacing: 0.1em;
  }
  width: 230px;
  // height: 100%;
  background: #263645;
  color: white;
  text-align: center;
}
