<div class="cart-container">
  <section class="cart-header">
    <h2>your cart</h2>
    <a ui-sref="products">continue shopping</a>
    <div><button ng-click="checkSignIn()">checkout</button></div>
  </section>

  <section class="cart-main">
    <div class="cart-title">
      <ul>
        <li>item</li>
        <li>unit price</li>
        <li>quantity</li>
        <li>product total</li>
      </ul>
    </div>
    <div class="cart-detail">
      <div class="cart-product" ng-repeat="product in cart track by $index">
        <ul>
          <li><img ng-src="{{product.img_url}}" alt="img_url"></li>
          <li>{{product.name}}</li>
          <li>${{product.price}}</li>
          <li>
            <quantity-dir quantity="product.quantity" add-quantity="addQuantity(product.img_url)" minus-quantity="minusQuantity(product.img_url, product.quantity)"></quantity-dir>
          </li>
          <li>
            ${{product.total}}
            <a ng-click="removeQuantity(product.img_url, product.quantity)" class="remove">x</a>
          </li>
        </ul>
      </div>
      <p>subtotal <span>${{subtotal}}.00</span></p>
      <div>
        <button ng-click="checkSignIn()">checkout</button>
      </div>
    </div>
  </section>
</div>
