<div class="details">
  <nav class="profile-nav">
    <ul>
      <li><a ui-sref="details">your details</a></li>
      <li><a ui-sref="history">order history</a></li>
      <li><a ng-click="signOut()" ui-sref="home">sign out</a></li>
    </ul>
  </nav>
  <div class="details-container">
    <h1>your details</h1>
    <section class="details-name">
      <div class="show-view" ng-hide="detailsName">
        <h6>name</h6>
        <p>{{newUser.user_name}}</p>
        <span class="edit" ng-click="detailsName = true">Edit</span>
      </div>
      <form class="form-view" ng-submit="updateUser(); detailsName = false" ng-show="detailsName">
        <h6>name</h6>
        <div><input type="text" placeholder="First Name" ng-model="firstName" required>
        <input type="text" placeholder="Last Name" ng-model="lastName" required>
        </div>
        <input type="submit" value="save changes">
        <span ng-click="detailsName = false">X</span>
      </form>
    </section>
    <!-- <section class="details-password">
      <div class="show-view">
        <h6>password</h6>
        <p></p>
        <span class="edit"></span>
      </div>
      <form class="form-view">
        <h6>password</h6>
        <input type="text" placeholder="Current Password">
        <input type="text" placeholder="New password">
        <input type="text" placeholder="New password again">
        <input type="submit" value="save changes">
      </form>
    </section> -->
    <section class="details-address">
      <div class="show-view" ng-hide="detailsAddress">
        <h6>shipping information</h6>
        <p>{{newUser.shipping_name}}
        <br>{{newUser.shipping_address}} {{newUser.shipping_aptnum}}
        <br>{{newUser.shipping_city}} {{newUser.shipping_state}} {{newUser.shipping_zipcode}}</p>
        <span class="edit" ng-click="detailsAddress = true">Edit</span>
      </div>
      <form class="form-view" ng-submit="updateUser(); detailsAddress = false" ng-show="detailsAddress">
        <h6>shipping information</h6>
        <input type="text" placeholder="Name" ng-model="newUser.shipping_name" required>
        <input type="text" placeholder="Address" ng-model="newUser.shipping_address" required>
        <input type="text" placeholder="Apt / Suite #" ng-model="newUser.shipping_aptnum">
        <input type="text" placeholder="City" ng-model="newUser.shipping_city" required>
        <div><select name="shipping-state" id="shipping-state" ng-model="newUser.shipping_state" required>
          <option value="" disabled>State</option>
                <option value="AL">AL</option>
                <option value="AK">AK</option>
                <option value="AZ">AZ</option>
                <option value="AR">AR</option>
                <option value="CA">CA</option>
                <option value="CO">CO</option>
                <option value="CT">CT</option>
                <option value="DE">DE</option>
                <option value="DC">DC</option>
                <option value="FL">FL</option>
                <option value="GA">GA</option>
                <option value="HI">HI</option>
                <option value="ID">ID</option>
                <option value="IL">IL</option>
                <option value="IN">IN</option>
                <option value="IA">IA</option>
                <option value="KS">KS</option>
                <option value="KY">KY</option>
                <option value="LA">LA</option>
                <option value="ME">ME</option>
                <option value="MD">MD</option>
                <option value="MA">MA</option>
                <option value="MI">MI</option>
                <option value="MN">MN</option>
                <option value="MS">MS</option>
                <option value="MO">MO</option>
                <option value="MT">MT</option>
                <option value="NE">NE</option>
                <option value="NV">NV</option>
                <option value="NH">NH</option>
                <option value="NJ">NJ</option>
                <option value="NM">NM</option>
                <option value="NY">NY</option>
                <option value="NC">NC</option>
                <option value="ND">ND</option>
                <option value="OH">OH</option>
                <option value="OK">OK</option>
                <option value="OR">OR</option>
                <option value="PA">PA</option>
                <option value="PR">PR</option>
                <option value="RI">RI</option>
                <option value="SC">SC</option>
                <option value="SD">SD</option>
                <option value="TN">TN</option>
                <option value="TX">TX</option>
                <option value="UT">UT</option>
                <option value="VT">VT</option>
                <option value="VA">VA</option>
                <option value="WA">WA</option>
                <option value="WV">WV</option>
                <option value="WI">WI</option>
                <option value="WY">WY</option>
                <option value="GU">GU</option>
                <option value="AS">AS</option>
                <option value="MP">MP</option>
                <option value="VI">VI</option>
                <option value="AA">AA</option>
                <option value="AE">AE</option>
                <option value="AP">AP</option>
        </select>
        <input type="text" placeholder="Zip Code"  ng-model="newUser.shipping_zipcode" required></div>
        <input type="text" placeholder="Telephone" ng-model="newUser.shipping_tele">
        <input type="submit" value="save changes">
        <span ng-click="detailsAddress = false">X</span>
      </form>
    </section>
  </div>
</div>
