<div class="history">
  <nav class="profile-nav">
    <ul>
      <li><a ui-sref="details">your details</a></li>
      <li><a ui-sref="history">order history</a></li>
      <li><a ng-click="signOut()" ui-sref="home">sign out</a></li>
    </ul>
  </nav>
  <!-- <h2>order history</h2>
  <div class="history-container">

    <a>shop harry's</a>
  </div> -->
</div>
<div class="cart-container">
<section class="cart-header">
  <h2>your order history</h2>
</section>

<section class="cart-main">
  <div class="cart-title">
    <ul>
      <li>item</li>
      <li>unit price</li>
      <li>quantity</li>
      <li class="date">purchase date</li>
    </ul>
  </div>
  <div class="cart-detail">
    <div class="cart-product" ng-repeat="product in cart track by $index">
      <ul>
        <li><img ng-src="{{product.default_img}}" alt="img_url"></li>
        <li>{{product.name}}</li>
        <li>${{product.price}}</li>
        <li>{{product.product_quantity}}
        </li>
        <li class="date">
          {{product.purchase_date}}
        </li>
      </ul>
      <div>
        <div class="product-img-url"><img ng-src="{{product.default_img}}" alt="img_url"></div>
        <ul>
          <li>{{product.name}}</li>
          <li>${{product.price}} x {{product.product_quantity}}</li>
          <li class="date">
            {{product.purchase_date}}
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
</div>
